{:paths
 ["src" "resources"]

 :deps
 {org.clojure/core.logic {:mvn/version "1.0.0"}}

 ;; build the driver with clojure -X:build
 :aliases
 {:build
  {:extra-deps {metabase/metabase-core {:local/root "/PATH/TO/metabase-0.41.0"}
                metabase/build-drivers {:local/root "/PATH/TO/metabase-0.41.0/bin/build-drivers"}}
   :exec-fn    build-drivers.build-driver/build-driver!
   :exec-args  {:driver      :ibminformix
                :project-dir "/PATH/TO/metabase-informix-driver-1.2.0"
                :target-dir  "/PATH/TO/metabase-informix-driver-1.2.0/target"}}}}
